/* bg shapes */
.bg-shapes {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    pointer-events: none;
}

.shape {
    position: absolute;
    border-radius: 100%;
    opacity: 0.09;
    animation: float 20s infinite ease-in-out;
}

.shape-1 {
    width: 400px;
    height: 400px;
    background: var(--secondary);
    top: 10%;
    left: 5%;
    animation-delay: 0s;
}

.shape-2 {
    width: 350px;
    height: 350px;
    background: var(--accent);
    top: 35%;
    right: 8%;
    animation-delay: 5s;
}

.shape-3 {
    width: 300px;
    height: 300px;
    background: var(--neutral);
    bottom: 15%;
    left: 15%;
    animation-delay: 10s;
}

.shape-4 {
    width: 450px;
    height: 450px;
    background: var(--light-bg);
    top: 30%;
    right: 5%;
    animation-delay: 15s;
}

.side-nav {
    position: fixed;
    top: 10%;
    left: 25px;
    z-index: 1000;
    /* zat hadi bax les lien ikono hma li kaynin l9dam kolxi */
}

.side-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-link {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .2s;
    margin-top: 20px;
}

.side-link:hover,
.side-link.active {
    background: #0A6CF1;
    transform: scale(1.08);
}





.reviews-section {
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: 100px;
}

.review-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);

}

.review-card:hover {
    transform: scale(1.02);
    transition: all 0.3s ease-in-out;
}

.review-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 10px;
}

.review-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

.review-rating {
    color: #ffe346;
    font-size: 18px;
    margin-left: auto;
}

.review-name {
    font-weight: bold;
    font-size: 1opx;
    color: #FFFFFF;
}

.review-role {
    font-size: 14px;
    color: #CCCCCC;
}

.review-text {
    font-size: 16px;
    color: #EEEEEE;
    line-height: 1.5;
    margin-left: 10px;
}

.footer-content {
    text-align: center;
    padding: 20px;
    font-size: 14px;
    color: #AAAAAA;
}

.footer-link {
    color: #0A6CF1;
    text-decoration: none;
}




/*____________responsive Tab___________*/
@media (max-width: 920px) {
    .side-nav {
        display: flex;
        top: -8px;
        left: 0;
        right: 0;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        padding-bottom: 11px;
        background-color: rgba(20, 0, 85, 0.096);
        backdrop-filter: blur(9px);
    }

    .side-nav-items {
        flex-direction: row;
        gap: 10px;
    }
    h1{
        padding-top: 50px;
    }
}

/*____________responsive phone___________*/

@media (max-width: 600px) {

    .side-nav {
        display: flex;
        top: -8px;
        left: 0;
        right: 0;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        padding-bottom: 11px;
        background-color: rgba(20, 0, 85, 0.096);
        backdrop-filter: blur(9px);
    }

    .side-nav-items {
        flex-direction: row;
        gap: 10px;
    }

    .section-title {
        padding-top: 20px;
        font-size: 40px;
        text-align: center;
    }

    .reviews-section {
        margin-left: 0;
    }
}