/* side nav */

.side-nav {
    position: fixed;
    top: 10%;
    left: 25px;
    z-index: 1000;
    /* zat hadi bax les lien ikono hma li kaynin l9dam kolxi */
}

.side-nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-link {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: .2s;
    margin-top: 20px;
}

/* Hero Section */

.hero {
    padding: 170px 150px;
    position: relative;
}

/* Hero-title animation */

.hero-title {
    overflow: hidden;
    white-space: nowrap;
    animation:
        typing 2s;
}

@keyframes typing {
    from {
        width: 0%
    }

    to {
        width: 100%
    }
}

/* _______________________*/
.hero-label {
    padding: 7px 17px;
    border: 1px solid;
    border-radius: 30px;
    font-size: 15px;
    display: inline;
    margin-bottom: 25px;
}

.hero-title {
    font-size: 65px;
    font-weight: 800;
    line-height: 1.1;
    max-width: 600px;
}


.hero-description {
    margin-top: 20px;
    font-size: 20px;
    width: 500px;
    color: #dfe6ee;
}

/* footer section */

.footer {
    padding: 35 px;
    margin-top: 80px;


}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.footer-links a {
    margin: 12px;
    text-decoration: none;
    color: #e2d8d8;
}

.hero-scroll {
    margin-top: 60px;
    text-align: left;
}

.scroll-indicator {
    width: 1px;
    height: 35px;
    margin-top: 6px;
    background: #fff;

}

.btn {
    padding: 14px 28px;
    border-radius: 40px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 16px;

}

.btn-primary {
    background: transparent;
    border: 1px solid;
    color: #c1bfcc;

}

.btn-outline {
    border: 1px solid #fff;
    color: #fff;
}

.btn-outline:hover {
    background: #0a0a85;
    color: rgb(9, 4, 80);
}

.side-link:hover,
.side-link.active {
    background: #0A6CF1;
    transform: scale(1.08);
}


/*_____________responsive tab.___________*/

@media (max-width: 920px) {
    .side-nav {
        display: flex;
        top: -8px;
        left: 0;
        right: 0;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        padding-bottom: 11px;
        background-color: rgba(20, 0, 85, 0.096);
        backdrop-filter: blur(9px);
    }

    .side-nav-items {
        flex-direction: row;
        gap: 10px;
    }

    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hero-title {
        font-size: 48px;
        max-width: 100%;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }

    .footer-content {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

}

/*____________responsive phone___________*/

@media (max-width: 600px) {
    .hero {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .side-nav {
        display: flex;
        top: -8px;
        left: 0;
        right: 0;
        justify-content: center;
        border-radius: 0px 0px 15px 15px;
        padding-bottom: 11px;
        background-color: rgba(20, 0, 85, 0.096);
        backdrop-filter: blur(9px);
    }

    .side-nav-items {
        flex-direction: row;
        gap: 10px;
    }

    .hero-title {
        padding-top: 20px;
        font-size: 40px;
        text-align: center;
    }

    .hero-description {
        font-size: 16px;
        width: 100%;
        text-align: center;

    }

    .hero-cta {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .btn {
        width: 100%;
        justify-content: center;
    }

    .footer-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        padding: 0px 3px 0px 3px;
        text-align: center;
    }
}